<div class='row mb-3 justify-space-around'>
{{#each posts as |post| }}
  <div class="col-md-5 my-5 post-card">
    <h2>
      <a href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
    <h6>
      {{post.body}}
    </h6>
    <p>Posted by {{post.user.username}} on {{format_date post.date_created}}</p>
  </div>

{{/each}}
</div>

