<div class="text-center">
    <h2 class='ind-post-title'>{{name}}</h2>
    <div class='row current-post'>
        <div class='col-md-6'>
            <h6 class='current-post-body py-2'>{{body}}</h6>
            <p class='post-user'>Posted by: {{user.username}} on {{format_date date_created}}</p>
        </div>
    </div>

    <form class='form create-comment'>
        <div class='form-group leave-comment'>
            <label for='comment-text'>Comments:</label>
            <div class='row text-comment'>
                <div class='col-md-6'>
                    <textarea class='form-input' type='text' id='comment-text' placeholder="Leave a comment"></textarea>
                </div>
            </div>
        </div>
        <div class='form-group'>
            <button type='submit' class="btn btn-primary">COMMENT</button>
        </div>
    </form>



    <div class='row comment-section justify-center'>
        <div class='col-md-6 user-comments'>
            {{#if comments.length}}
            {{#each comments as |comment|}}
            <h6 class='comment-username'>{{user.username}}</h6>
            <div class='row mb-2'>
                <div class='col comment-body md-9'>
                    <p class='comment-letters'>{{comment.text}}</p>
                </div>
            </div>

            <div class='row'>
                <div class='col md-3 mb-5'>
                    <button class="btn btn-sm btn-danger delete-comment" data-id='{{comment.id}}'>Delete</button>
                </div>
                <div class='col md-3 mb-5'>
                    <a class="btn btn-sm btn-secondary edit-post" href='/edit-comment/{{comment.id}}'>Edit</a>
                </div>
                <p class='mx-3'>Created on {{format_date date_created}}</p>
            </div>

            {{/each}}
            {{/if}}
        </div>
    </div>

</div>

<script src='/js/post.js'></script>
