
<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{username}}!</h2>
    </div>
</div>

<div class='row mt-4 justify-space-around new-post-card'>
    <div class='col-md-6'>
        <h1>CREATE A TECH POST</h1>

        <form class='form create-post'>
            <div class='form-group'>
                <label for='post-name'>Post-Title</label>
                <input class='form-input' type='text' id='post-name'>
            </div>
            <div class='form-group'>
                <label for='post-body'>Description</label>
                <textarea class='form-input' type='text' id='post-body'></textarea>
            </div>
            <div class='form-group'>
                <button type='submit' class='btn btn primary'>Submit Post</button>
            </div>
        </form>

    </div>



    {{#if posts.length}}
    <div class='col-md-6 user-posts'>
        <h3>{{username}}'s Posts:</h3>

        {{#each posts as |post|}}
        <div class='row mb-2 justify-space-between'>
            <div class='col md-9'>
                <h2><a href='/post/{{post.id}}'>{{post.name}}</a></h2>
            </div>
            <div class='col md-3'>
                <button class="btn btn-sm btn-danger" data-id='{{post.id}}'>DELETE</button>
            </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>

<script src='/js/profile.js'></script>